Source: mysql-mmm
Section: misc
Priority: optional
Maintainer: Pascal Hofmann <mail@pascalhofmann.de>
Build-Depends: debhelper (>= 5),
    fakeroot
Standards-Version: 3.7.2

Package: mysql-mmm-common
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, liblog-log4perl-perl, libmailtools-perl, liblog-dispatch-perl
Description: Multi-Master Replication Manager for MySQL - common files
 MMM (Master-Master Replication Manager for MySQL) is a set of flexible scripts 
 to perform monitoring/failover and management of MySQL Master-Master 
 replication configurations (with only one node writable at any time). 
 The toolset also has the ability to read balance standard master/slave 
 configurations with any number of slaves, so you can use it to move virtual 
 IP addresses around a group of servers depending on whether they are behind 
 in replication. 
 .
 This package includes files needed by the agent, the monitor and the lvmtools.

Package: mysql-mmm-agent
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, mysql-mmm-common, iproute, libnet-arp-perl, libproc-daemon-perl, libalgorithm-diff-perl, libdbi-perl, libdbd-mysql-perl
Description: Multi-Master Replication Manager for MySQL - agent daemon
 MMM (Master-Master Replication Manager for MySQL) is a set of flexible scripts 
 to perform monitoring/failover and management of MySQL Master-Master 
 replication configurations (with only one node writable at any time). 
 The toolset also has the ability to read balance standard master/slave 
 configurations with any number of slaves, so you can use it to move virtual 
 IP addresses around a group of servers depending on whether they are behind 
 in replication. 
 .
 This package includes the MMM agent.

Package: mysql-mmm-monitor
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, mysql-mmm-common, libclass-singleton-perl, libproc-daemon-perl, libalgorithm-diff-perl, libdbi-perl, libdbd-mysql-perl
Recommends: fping
Description: Multi-Master Replication Manager for MySQL - monitoring daemon
 MMM (Master-Master Replication Manager for MySQL) is a set of flexible scripts 
 to perform monitoring/failover and management of MySQL Master-Master 
 replication configurations (with only one node writable at any time). 
 The toolset also has the ability to read balance standard master/slave 
 configurations with any number of slaves, so you can use it to move virtual 
 IP addresses around a group of servers depending on whether they are behind 
 in replication. 
 .
 This package includes the MMM monitor.

Package: mysql-mmm-tools
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, mysql-mmm-common, libdbi-perl, libdbd-mysql-perl
Description: Multi-Master Replication Manager for MySQL - tools
 MMM (Master-Master Replication Manager for MySQL) is a set of flexible scripts 
 to perform monitoring/failover and management of MySQL Master-Master 
 replication configurations (with only one node writable at any time). 
 The toolset also has the ability to read balance standard master/slave 
 configurations with any number of slaves, so you can use it to move virtual 
 IP addresses around a group of servers depending on whether they are behind 
 in replication. 
 .
 This package includes the MMM tools mmm_backup, mmm_restore and mmm_clone.

