#!/usr/bin/make -f

build:
	dh_testdir
	dh_clean -k
	dh_installdirs

clean:
	dh_testdir
	rm -f build-stamp configure-stamp
	dh_clean

binary-indep: build
	dh_testdir
	dh_installchangelogs
	dh_installdocs
#	dh_installexamples
#	dh_installman
#	dh_installcron
	dh_installinit
	dh_installlogrotate
	dh_compress
	dh_fixperms
	dh_perl
	dh_installdeb
	dh_install
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary:	binary-indep

.PHONY: binary binary-indep clean build
